.sidebar{
    position: fixed;
    top: 52px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    background-color: white;
    padding-top: 5px;
    z-index:200;
    display: inline;
}
.sidebar-icon{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(34, 33, 33);
}
.sidebar-icon-img{
    width: 24px;
    margin-bottom: 5px;
}
.sidebar-icon:hover{
    background-color: rgb(235, 235, 235);
    opacity: 0.9;
    transition: 0.15s;
    cursor: pointer;
}